{% extends "blog/base.html" %}
{% block content %}

    <h3> An Application solution to facilitate communication using tags in a large organization to help reach out to people based on their expertise and availability</h3>

    <br>
    <br>

    <h1 style="color: goldenrod;"> How will it help ?</h1>
    <h4> Students and professors can interact by areas of intrest and expertise</h4>
    <h4> Employee cross-functional team interaction and inter-departmental exchange of knowledge</h4>


{% endblock content %}
